POSTGRES_USER = <DB_USER>
POSTGRES_PASSWORD = <DB_PASSWORD>
POSTGRES_DB = <DB_NAME>
DATABASE_URL = <DB_URL>

REDIS_URL = <REDIS_URL>

DEBUG = <True/False>

SLOW_REQUEST_THRESHOLD = <seconds: float>

SECRET_KEY = <your secret key>
ALGORITHM = <HS256 or another>
ACCESS_TOKEN_EXPIRE_MINUTES = <30/40/60>